@import "../../common/common.scss";

.button {
  border-radius: 50rem;
  font-size: 1.2rem;
  margin: 0 0.75rem;
  padding: 0.75rem 1.75rem;
  transition: all 200ms ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.orange {
    background-color: $color-1;
    color: $white;
    border: 1px solid $color-1;
  }

  &.blue {
    background-color: $color-2;
    color: $white;
    border: 1px solid $color-2;
  }

  &.yellow {
    background-color: $color-3;
    color: $text-dark;
    border: 1px solid $color-3;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .button {
    font-size: 0.9rem;
    margin: 0 0.25rem;
    padding: 0.5rem 0.75rem;
  }
}
