.home {
  padding: 1rem;

  .home-image {
    background: {
      image: url("../../assets/home-back.jpg");
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    height: 40vh;
    margin: {
      bottom: 1rem;
      left: -1rem;
      right: -1rem;
      top: -1rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .home {
    .home-image {
      height: 35vh;
    }
  }
}

@media only screen and (max-width: 576px) {
  .home {
    .home-image {
      height: 30vh;
    }
  }
}
