@import "../../common/common.scss";

.home {
  padding: 1rem;

  &-image {
    background: {
      image: url("../../assets/home-back.jpg");
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    height: 40vh;
    margin: {
      bottom: 1rem;
      left: -1rem;
      right: -1rem;
      top: -1rem;
    }
  }

  &-title {
    color: $white;
    font-size: 3rem;
  }

  &-list {
    list-style: none;

    &-item {
      align-items: center;
      border-bottom: 1px solid $boder-color;
      display: flex;
      flex-direction: row;
      padding: 1rem;
    }

    &-head {
      color: $text;
      font-size: 2rem;
      min-width: 15%;
      display: block;
    }

    &-body {
      display: flex;
      flex-direction: column;
      color: $text-light;
      font-size: 1.25rem;

      .extra {
        font-size: 1rem;
        font-style: italic;
      }
    }
  }

  form {
    margin: {
      bottom: 1rem;
      left: 0;
    }
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .home {
    &-title {
      font-size: 2.25rem;
    }

    &-list {
      &-item {
        padding: 0.75rem;
      }

      &-head {
        font-size: 1.5rem;
      }

      &-body {
        font-size: 1rem;

        .extra {
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .home {
    &-image {
      height: 35vh;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-list {
      &-item {
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem;
      }

      &-head {
        font-size: 1.25rem;
      }

      &-body {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-small) {
  .home {
    &-image {
      height: 30vh;
    }

    &-title {
      font-size: 2rem;
    }

    &-list {
      &-item {
        padding: 0.5rem 0;
      }

      &-head {
        min-width: 0;
        font-size: 1.5rem;
      }

      &-body {
        .extra {
          font-size: 0.75rem;
        }
      }
    }

    form {
      margin: {
        bottom: 0.75rem;
        left: 0;
        right: 0;
      }

      button {
        margin: 0;
      }
    }
  }
}
