@import "../../index.scss";

.language-card-container {
  background-color: #272936;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  .card {
    &-header {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

      .badge {
        align-items: center;
        border-radius: 50rem;
        display: flex;
        padding: 0.5rem 2rem;

        &.orange {
          background-color: $color-1;
        }

        &.blue {
          background-color: $color-2;
        }

        .name {
          color: $white;
          font-size: 2rem;
          text-transform: capitalize;
        }
      }
    }

    &-content {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 2fr;
      row-gap: 0.5rem;
      flex: 1 0 0;

      .description {
        color: $text;
        font-size: 1.125rem;
        text-transform: capitalize;

        &-head {
          color: $text-light;
          font-weight: bold;
          text-transform: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .language-card-container {
    padding: 0.75rem;

    .card {
      &-header {
        .card-minimal-info {
          margin: 0 0.5rem;

          .name {
            font-size: 1.6rem;
            margin-bottom: 0.3rem;
          }

          .type {
            font-size: 1rem;
          }
        }
      }

      &-content {
        column-gap: 0rem;
        row-gap: 0.75rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .language-card-container {
    .card {
      &-header {
        .card-minimal-info {
          margin: 0 0.75rem;

          .name {
            font-size: 1.4rem;
            margin-bottom: 0.2rem;
          }

          .type {
            font-size: 0.9rem;
          }
        }
      }

      &-content {
        grid-template-columns: 1fr;
        row-gap: 0rem;

        .description-head:not(:first-child) {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .language-card-container {
    padding: 0.75rem;

    .card {
      &-header {
        margin-bottom: 0.5rem;

        .badge {
          justify-content: center;
          min-width: 25%;
          padding: 0.25rem 0.5rem;

          .name {
            font-size: 1.25rem;
          }
        }
      }

      &-content {
        column-gap: 0.25rem;
        grid-template-columns: 1fr;
        row-gap: 0.25rem;

        .description {
          font-size: 1rem;
        }
      }
    }
  }
}
