$white: #ffffff;

$background-darker: #20202a;
$background-dark: #272936;

$boder-color: #50525d;

$color-1: #f27269;
$color-2: #706ff2;
$color-3: #f6c77a;

$text-dark: #50525d;
$text: #7d7d87;
$text-light: #c2c2ca;

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-darker;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $text-light;
  text-decoration: none;
}
