$white: #ffffff;

$primary: #132034;
$primary-light: #3c475e;
$primary-dark: #00000e;

$secondary: #588ecc;
$secondary-light: #8cbeff;
$secondary-dark: #1c619b;

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
