$white: #fefefe;
$background-darker: #20202a;
$background-dark: #272936;
$boder-color: #50525d;
$color-1: #f27269;
$color-2: #706ff2;
$color-3: #f6c77a;
$color-4: #69f28e;
$text-dark: #50525d;
$text: #7d7d87;
$text-light: #c2c2ca;

$tlight-white: #f4f4f4;
$tlight-background-darker: #f9f8f8;
$tlight-background-dark: #e5e5e5;
$tlight-boder-color: #878787;
$tlight-color-1: #ee463a;
$tlight-color-2: #4240ee;
$tlight-color-3: #f3b34a;
$tlight-color-4: #0ab839;
$tlight-text-dark: #141411;
$tlight-text: #525251;
$tlight-text-light: #212120;

$breakpoint-large: 1200px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
