$white: #fefefe;
$background-darker: #20202a;
$background-dark: #272936;
$boder-color: #50525d;
$color-1: #f27269;
$color-2: #706ff2;
$color-3: #f6c77a;
$text-dark: #50525d;
$text: #7d7d87;
$text-light: #c2c2ca;

$tlight-white: #f4f4f4;
$tlight-background-darker: #f9f8f8;
$tlight-background-dark: #e5e5e5;
$tlight-boder-color: #878787;
$tlight-color-1: #EE463A;
$tlight-color-2: #4240EE;
$tlight-color-3: #F3B34A;
$tlight-text-dark: #141411;
$tlight-text: #525251;
$tlight-text-light: #212120;
