@import "../../index.scss";

.language-card-container {
  background-color: $white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .card {
    &-header {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex: 1 0 0;

      .card-logo {
        max-height: 7rem;
        max-width: 7rem;
        margin-bottom: 1rem;
      }

      .card-minimal-info {
        margin: 0 1rem;

        .name {
          color: $primary;
          font-size: 2rem;
          margin-bottom: 0.25rem;
          text-transform: capitalize;
        }

        .type {
          color: $primary;
          font-size: 1.125rem;
        }
      }
    }

    &-content {
      display: grid;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 2fr;
      row-gap: 0.5rem;

      .description {
        color: $primary;
        text-transform: capitalize;

        &-head {
          color: $secondary;
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .language-card-container {
    padding: 0.75rem;

    .card {
      &-header {
        .card-logo {
          width: 5rem;
        }

        .card-minimal-info {
          margin: 0 0.5rem;

          .name {
            font-size: 1.6rem;
            margin-bottom: 0.3rem;
          }

          .type {
            font-size: 1rem;
          }
        }
      }

      &-content {
        column-gap: 0rem;
        row-gap: 0.75rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .language-card-container {
    .card {
      &-header {
        .card-minimal-info {
          margin: 0 0.75rem;

          .name {
            font-size: 1.4rem;
            margin-bottom: 0.2rem;
          }

          .type {
            font-size: 0.9rem;
          }
        }
      }

      &-content {
        grid-template-columns: 1fr;
        row-gap: 0rem;

        .description-head:not(:first-child) {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .language-card-container {
    padding: 0.5rem;

    .card {
      &-header {
        .card-logo {
          width: 4rem;
        }

        .card-minimal-info {
          margin: 0 0.5rem;

          .name {
            font-size: 1.5rem;
            margin-bottom: 0.125rem;
          }

          .type {
            font-size: 1rem;
          }
        }
      }

      &-content {
        .description-head:not(:first-child) {
          margin-top: 0.75rem;
        }
      }
    }
  }
}
